* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  /* grid-template-columns: repeat(10); */
  border: 1px solid green;
  height: 100vh;
}

.app-container-item {
  border: 1px solid rebeccapurple;
}

.ls-top-container {
  flex: 3 1 0;
}
.main-top-container {
  flex: 5 1 0;
}

.rs-top-container {
  flex: 3 1 0;
}

/* left  side bar */
.ls-top-container-wrapper {
  border: 1px solid green;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20%;
  height: 100%;
}

.ls-top-container-wrapper > * {
  border: 2px solid rebeccapurple;
}

.l-navlinks {
  display: flex;
  flex-direction: column;
}

.l-navlinks > * {
  padding: 10px 10px;
  margin: 10px 0;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
}

.l-navlinks button:hover,
.l-navlinks div:hover {
  background-color: gray;
}

/* left  side bar */
